.stuck {
  position: fixed;
  top: 0px;
  left: 0px;
  max-height: 100%;
  width: 190px;
  background-color: #eee;
  overflow-y: scroll;
}
.stuck p {
  margin: 10px;
}
.not-stuck {
  margin-left: 200px;
}
.scrollable {
  height: 100vh;
  overflow-y: scroll;
}
