.columns {
    display: flex;
    flex-direction: column;
}
.rows {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}
.item {
    margin-bottom: 1vh;
    border: 2px solid #ff00ee;
}
